<div class="conteiner"></div>
    {{>eventos}}
<br/>
<h2 class="contenedor-h2 ">Institucional:</h2>
<div id="contenedor-noticias">
    {{#each noticias}}
    <div id="noticia1" class="noticia">
        <img class="img-noticia" src={{this.img}} alt={{this.titulo}}/>
        <div class="contenido">
            <h2>{{this.titulo}}</h2>
            <h3>{{this.fecha}}</h3>
            <p>
                {{this.contenido}}
            </p>
        </div>
    </div>
    {{/each}}  
    <div class="ver-mas"><a href="/institucional">Ver mas noticias</a></div>                                                
</div>
                  
            